// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";
@font-face {
  font-family: 'symbol-icons';
  src: url('atom://document-outline/icons/symbol-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@symbol-generic: '\e600';


.symbol-icon(@name) {
  font-family: 'symbol-icons';
  content: @@name;
}

.document-outline-section-highlight {
  background-color: @background-color-info;
}

.document-outline-section-highlight .region{
  background-color: @background-color-info;
}

// result markers
atom-text-editor,
atom-text-editor::shadow {
  .document-section .region {
    background-color: @syntax-result-marker-color;
    border-radius: @component-border-radius;
    border: 1px solid @syntax-result-marker-color;
    box-sizing: border-box;
    z-index: 0;
  }

  .current-section .region {
    border-radius: @component-border-radius;
    border: 1px solid @syntax-result-marker-color-selected;
    box-sizing: border-box;
    z-index: 0;
  }

  // .document-section,
  // .current-section {
  //   display: none;
  // }
}

.document-outline {
  // background-color: #f00;
  width: 200px;
  height: 100%;
  padding: 4px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  document-tree {

  }

  tree-node {
    display: list-item;

    tree-item-text:hover {
      text-decoration: underline;
    }
  }

  // tree-node span.selected {
  //   background-color: @background-color-info;
  // }

  .list-tree {
    margin-left: 10px;
  }


  .icon-generic::before {
    .symbol-icon(symbol-generic);
  }


}

//
//
//
// .symbols-context-menu {
//   position: absolute;
//   z-index: 1;
//   width: 120px;
//   .hidden-input {
//     position: absolute;
//     width: 0;
//     height: 0;
//     border: none;
//   }
//   .select-list.popover-list {
//     width: 100%;
//     min-width: 100%;
//     ol {
//       margin-top: 0;
//       .separator {
//         background: @background-color-highlight;
//         height: 1px;
//       }
//       li:hover {
//         background: @background-color-highlight;
//       }
//     }
//   }
// }
